{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <div id="logo">
        <a href="{{ url_for('home') }}"><img src="static/assets/img/logo.png" alt="" width="130rem"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{{url_for('home')}}">Home</a></li>
          <li><a class="nav-link" href="{{url_for('ratings')}}">Ratings</a></li>
          <li><a class="nav-link " href="{{url_for('get_blog')}}" >Blog</a></li>
            {% if not current_user.is_authenticated: %}
          <li><a class="nav-link " href="{{ url_for('register')}}" >Register</a></li>
          <a class="login-btn" href="{{url_for('login')}}">Login</a>
          {% else: %}
           <li><a class="nav-link " href="{{ url_for('logout')}}" >Logout</a></li>
          <a class="login-btn" href="{{url_for('login')}}">Change Profile</a>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
{% endblock %}

{% block content %}


<body>
  <!-- Page Header -->

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">

            <h1>Login here</h1>


            <span class="subheading">It takes 2 seconds 😊<br><br></span>

          </div>
        </div>
      </div>
    </div>

  <div class="container form-container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

            {% with messages = get_flashed_messages() %}
                 {% if messages %}
                    {% for message in messages %}
                       <p>{{ message }}</p>
                    {% endfor %}
                 {% endif %}
            {% endwith %}
        
          <!-- This is where the form will go -->
          {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}


      </div>
    </div>
  </div>

{% endblock %}
  <body/>
